.card{
    width: 100%;
    position: absolute;
    display: flex;
    top: 0%;
    right: 0%;
    z-index: 1;
    min-height: 100vh;
    border-radius: 0%;
}

.sub{
    display: flex;
    justify-content: center;
}